@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700&display=swap');

/***RESETAR CONFIGURAÇÕES DOS NAVEGADORES ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Baloo 2', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 90px;
    width: 100%;
    padding: 40px;
}
  
a{
    color: #303960;
    text-decoration: none;
    transition: 0.3s;
}
    
.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
  
.nav-list li{
    margin-left: 32px;
    margin-top: 20px;
    padding-bottom: 24px;
}
  
.linka:hover{
  border-bottom: 4px solid #f8b24f;
  margin-top: 20px;
  padding-bottom: 10px;
}
  
.mobile-menu{
    display: none;
    cursor: pointer;
}
  
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
.botao{
    color: #ffffff;
    border-radius: 6px;
    background-color: #303960;
    padding: 5px 15px 5px 15px;
    margin-left: 24px;
}

.botaov{
    color: #ffffff;
    border-radius: 6px;
    background-color: #303960;
    padding: 5px 15px 5px 15px;
    margin-left: 24px;
    display: none;
}

.botao:hover,
.botaov:hover{
    color: #303960;
    border-radius: 6px;
    background-color: #fff;
    padding: 5px 15px 5px 15px;
    margin-left: 24px;
}

.content{
    width: 100%;
    background-color: #e5e5e5;
}

main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-family: 'Baloo 2', Helvetica, Arial, sans-serif;
    color: #303960;
}
main img{
    width: 26vw;
}

.content2{
    width: 44vw;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 
h1{
    font-size: max(43px, 4.8vw);
    font-weight: 700;
    text-align: center;
    line-height: 80px; 
    padding: 10px;
}

main p{
    font-size: max(16px, 1.8vw);
    letter-spacing: 2px;
    padding-bottom: 30px;
}

main a{
    font-size: 22px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/***ESTILO PARA AJUSTE EM DIFERENTES RESOLUÇÃO ***/

@media (max-width: 1600px) {
    h1{
        line-height: 60px; 
    }
}

@media (max-width: 990px) {
    h1{
        line-height: 40px; 
    }
}
  
@media (max-width: 799px) {
    body {
      overflow: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #e5e5e5;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    .botaov{
        display: block;
    }
    .botao{
        display: none;
    }

}
  
.nav-list.active{
    transform: translateX(0);
}
  
@keyframes navLinkFade{
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2{
    opacity: 0;
}
  
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
  